*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.tilt-prism-prism {
  font-family: "Tilt Prism", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}